.container {
    margin: 0 auto;
    padding: 50px 15px;
    width: 1200px;
    background-image:url(https://www.vhv.rs/dpng/d/514-5146197_feedback-png-picture-feedback-png-transparent-png.png
    );
      background-size: cover;
      height: 100%;


}