.container {
    margin: 0 auto;
    padding: 50px 15px;
    width: 1200px;
    background-color: rgb(233, 135, 135);
   
    background-image: url(https://image.similarpng.com/thumbnail/2020/12/Cell-phone-with-cloud-universe-and-icons-social-networks-on-transparent-background-PNG.png);
      background-size: cover;
      height: 100%;


}